html {
    height: 100%;
    overflow: hidden;
  }
  
  body {
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  /* Hide scrollbar */
  body::-webkit-scrollbar {
    display: none;
  }
  
  body {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  #root {
    height: 100%;
  }
  